.card-container {
    display: flex;
    flex-direction: column;
    background-color: #92FF92;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    align-items: center;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    }
  